.infopanel-card {
    display: flex;
    padding: 8px;
    min-width: 342px;
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 0px;
}

.MuiCardContent-root {
    padding: 3px !important;
}
.infopanel-media {
    width: 130px;
    height: 130px;
}

.infopanel-media-large {
    width: 176px;
    height: 157px;
}

.infopanel-content {
    flex: 1 1 auto;
    flex-direction: column;
    white-space: nowrap;
}

.infopanel-content-row {
    flex: 1 1 auto;
    flex-direction: row;
    white-space: nowrap;
}

.infopanel-header {
}

